@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import "variables";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 16px;
  background-color: #f4f4f4;
}