@import "../../styles/variables";

.button {
  display: flex;
  justify-content: center;
  background-color: transparent;
  color: $gray;
  border: none;
  outline: none;
  cursor: pointer;

  svg {
    margin-right: 5px;
  }
}